#listNav{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#exo-1{
    background-color: gray;
}
.d-none{
    display: none;
}

.d-Block{
    display: block;
}

#exo-3{
    background-color: gray;
}